<div class="a">
    <div class="b" [class.step-1]="wrongCounter >= 1"
         [class.step-2]="wrongCounter >= 2"></div>
    <div class="c" [class.step-1]="wrongCounter >= 1">
        <div class="d" [class.step-3]="wrongCounter >= 3"
             [class.step-4]="wrongCounter >= 4"></div>
        <div class="man">
            <div class="head" *ngIf="wrongCounter >= 5"></div>
            <div class="neck" *ngIf="wrongCounter >= 6"></div>
            <div class="up-body" *ngIf="wrongCounter >= 7">
                <div class="up-body__left" [class.step-7]="wrongCounter >= 7"></div>
                <div class="up-body__right" [class.step-8]="wrongCounter >= 8"></div>
            </div>
            <div class="down-body" *ngIf="wrongCounter >= 9">
                <div class="down-body__left" [class.step-10]="wrongCounter >= 10"></div>
                <div class="down-body__right" [class.step-11]="wrongCounter >= 11"></div>
            </div>
        </div>
    </div>
</div>
